absl-py==2.1.0
accelerate==1.9.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.9
aiohttp-retry==2.8.3
aiosignal==1.3.1
aiosqlite==0.21.0
alembic==1.18.4
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.89.0
anyio==4.13.0
appdirs==1.4.4
appnope==0.1.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
astor==0.8.1
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
asyncpg==0.30.0
attrs==24.2.0
babel==2.17.0
backoff==2.2.1
backrefs==5.9
bcrypt==4.0.1
beautifulsoup4==4.12.3
billiard==4.2.4
bitarray==3.8.0
bitsandbytes==0.42.0
blake3==1.0.5
bleach==6.2.0
blinker==1.9.0
branca==0.8.0
build==1.3.0
cachetools==5.5.2
cbor2==5.6.5
celery==5.6.3
certifi==2026.2.25
cffi==2.0.0
cfgv==3.4.0
charset-normalizer==3.4.7
chromadb==1.0.15
ckzg==2.1.7
click==8.3.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpickle==3.1.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.3
compressed-tensors==0.10.2
contourpy==1.3.0
crewai==0.140.0
cryptography==46.0.6
cycler==0.12.1
cytoolz==1.1.0
dataclasses-json==0.6.7
datasets==4.0.0
ddgs==9.11.4
debugpy==1.8.16
decorator==5.1.1
defusedxml==0.7.1
depyf==0.19.0
dill==0.3.8
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.17.0
duckduckgo_search==8.1.1
durationpy==0.10
ecdsa==0.19.2
einops==0.8.1
email-validator==2.3.0
et_xmlfile==2.0.0
eth-account==0.13.7
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==5.2.1
eth-utils==5.3.1
eth_abi==6.0.0b1
executing==2.2.0
Faker==33.3.1
fastapi==0.135.3
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.5
fastjsonschema==2.21.2
filelock==3.18.0
fire==0.7.1
Flask==3.0.3
flask-cors==6.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
flatbuffers==24.12.23
flower==2.0.1
folium==0.17.0
fonttools==4.54.1
fqdn==1.5.1
frozendict==2.4.5
frozenlist==1.4.1
fsspec==2025.3.0
future==1.0.0
gast==0.6.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
gguf==0.17.1
ghp-import==2.1.0
google-api-core==2.25.1
google-api-python-client==2.175.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-pasta==0.2.0
google_search_results==2.4.2
googleapis-common-protos==1.70.0
grpcio==1.73.1
gunicorn==23.0.0
h11==0.16.0
h2==4.3.0
h5py==3.14.0
hexbytes==1.3.1
hf-xet==1.1.7
hpack==4.1.0
html5lib==1.1
httpcore==1.0.9
httplib2==0.22.0
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.34.4
humanfriendly==10.0
humanize==4.15.0
hyperframe==6.1.0
identify==2.6.12
idna==3.11
imageio==2.36.1
imageio-ffmpeg==0.5.1
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==2.3.0
inquirerpy==0.3.4
instructor==1.9.0
interegular==0.3.3
ipykernel==6.30.1
ipython==9.4.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
itsdangerous==2.2.0
jax==0.4.38
jaxlib==0.4.38
jedi==0.19.2
Jinja2==3.1.6
jiter==0.13.0
joblib==1.5.1
json5==0.12.0
json_repair==0.25.2
jsonpatch==1.33
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter-events==0.12.0
jupyter-lsp==2.2.6
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keras==3.10.0
kernels==0.9.0
kiwisolver==1.4.7
kombu==5.6.2
kubernetes==33.1.0
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.68
langchain-openai==0.3.27
langchain-text-splitters==0.3.8
langgraph==0.5.1
langgraph-checkpoint==2.1.0
langgraph-prebuilt==0.5.2
langgraph-sdk==0.1.72
langsmith==0.4.4
lark==1.2.2
libclang==18.1.1
litellm==1.72.6
llama_stack==0.2.23
llama_stack_client==0.2.23
llguidance==0.7.30
llvmlite==0.44.0
lm-format-enforcer==0.10.12
lxml==5.3.0
Mako==1.3.10
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mergedeep==1.3.4
mistral_common==1.8.3
mistune==3.1.3
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.6.15
mkdocs-material-extensions==1.3.1
ml_dtypes==0.5.1
mlx==0.28.0
mlx-lm==0.26.3
mlx-metal==0.28.0
mmh3==5.1.0
MouseInfo==0.1.3
mpmath==1.3.0
msgspec==0.19.0
multidict==6.1.0
multiprocess==0.70.16
multitasking==0.0.11
mypy_extensions==1.1.0
mysql-connector-python==9.0.0
namex==0.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
newsapi==0.1.1
ninja==1.11.1.4
nodeenv==1.9.1
notebook_shim==0.2.4
numba==0.61.2
numpy==2.4.4
oauthlib==3.3.1
onnxruntime==1.22.0
openai==2.30.0
opencage==3.0.2
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
opentelemetry-api==1.34.1
opentelemetry-exporter-otlp-proto-common==1.34.1
opentelemetry-exporter-otlp-proto-grpc==1.34.1
opentelemetry-exporter-otlp-proto-http==1.34.1
opentelemetry-proto==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
opt_einsum==3.4.0
optree==0.16.0
orjson==3.10.18
ormsgpack==1.10.0
outlines_core==0.2.10
overrides==7.7.0
packaging==26.0
paginate==0.5.7
pandas==2.2.3
pandocfilters==1.5.1
paramiko==3.5.0
parsimonious==0.10.0
parso==0.8.4
partial-json-parser==0.2.1.1.post6
passlib==1.7.4
pathspec==0.12.1
pdfminer.six==20250506
pdfplumber==0.11.7
peewee==3.17.6
peft==0.16.0
pexpect==4.9.0
pfzy==0.3.4
pgvector==0.4.2
phonenumbers==8.13.47
pillow==12.2.0
pipeline==0.1.0
platformdirs==4.3.6
pluggy==1.6.0
poly_eip712_structs==0.0.1
posthog==5.4.0
pre_commit==4.2.0
primp==1.1.3
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.24.1
prompt_toolkit==3.0.52
propcache==0.2.0
proto-plus==1.26.1
protobuf==5.29.5
psutil==6.1.1
psycopg==3.2.1
psycopg-binary==3.2.1
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py_builder_signing_sdk==0.0.2
py_clob_client==0.34.6
py_order_utils==0.3.2
pyaml==25.7.0
pyarrow==21.0.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pybase64==1.4.1
pycountry==24.6.1
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic-extra-types==2.10.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
PyGetWindow==0.0.9
Pygments==2.19.2
PyJWT==2.9.0
pymdown-extensions==10.16
PyMsgBox==1.0.9
PyMySQL==1.1.1
PyNaCl==1.5.0
pyobjc==11.0
pyobjc-core==11.0
pyobjc-framework-Accessibility==11.0
pyobjc-framework-Accounts==11.0
pyobjc-framework-AddressBook==11.0
pyobjc-framework-AdServices==11.0
pyobjc-framework-AdSupport==11.0
pyobjc-framework-AppleScriptKit==11.0
pyobjc-framework-AppleScriptObjC==11.0
pyobjc-framework-ApplicationServices==11.0
pyobjc-framework-AppTrackingTransparency==11.0
pyobjc-framework-AudioVideoBridging==11.0
pyobjc-framework-AuthenticationServices==11.0
pyobjc-framework-AutomaticAssessmentConfiguration==11.0
pyobjc-framework-Automator==11.0
pyobjc-framework-AVFoundation==11.0
pyobjc-framework-AVKit==11.0
pyobjc-framework-AVRouting==11.0
pyobjc-framework-BackgroundAssets==11.0
pyobjc-framework-BrowserEngineKit==11.0
pyobjc-framework-BusinessChat==11.0
pyobjc-framework-CalendarStore==11.0
pyobjc-framework-CallKit==11.0
pyobjc-framework-Carbon==11.0
pyobjc-framework-CFNetwork==11.0
pyobjc-framework-Cinematic==11.0
pyobjc-framework-ClassKit==11.0
pyobjc-framework-CloudKit==11.0
pyobjc-framework-Cocoa==11.0
pyobjc-framework-Collaboration==11.0
pyobjc-framework-ColorSync==11.0
pyobjc-framework-Contacts==11.0
pyobjc-framework-ContactsUI==11.0
pyobjc-framework-CoreAudio==11.0
pyobjc-framework-CoreAudioKit==11.0
pyobjc-framework-CoreBluetooth==11.0
pyobjc-framework-CoreData==11.0
pyobjc-framework-CoreHaptics==11.0
pyobjc-framework-CoreLocation==11.0
pyobjc-framework-CoreMedia==11.0
pyobjc-framework-CoreMediaIO==11.0
pyobjc-framework-CoreMIDI==11.0
pyobjc-framework-CoreML==11.0
pyobjc-framework-CoreMotion==11.0
pyobjc-framework-CoreServices==11.0
pyobjc-framework-CoreSpotlight==11.0
pyobjc-framework-CoreText==11.0
pyobjc-framework-CoreWLAN==11.0
pyobjc-framework-CryptoTokenKit==11.0
pyobjc-framework-DataDetection==11.0
pyobjc-framework-DeviceCheck==11.0
pyobjc-framework-DeviceDiscoveryExtension==11.0
pyobjc-framework-DictionaryServices==11.0
pyobjc-framework-DiscRecording==11.0
pyobjc-framework-DiscRecordingUI==11.0
pyobjc-framework-DiskArbitration==11.0
pyobjc-framework-DVDPlayback==11.0
pyobjc-framework-EventKit==11.0
pyobjc-framework-ExceptionHandling==11.0
pyobjc-framework-ExecutionPolicy==11.0
pyobjc-framework-ExtensionKit==11.0
pyobjc-framework-ExternalAccessory==11.0
pyobjc-framework-FileProvider==11.0
pyobjc-framework-FileProviderUI==11.0
pyobjc-framework-FinderSync==11.0
pyobjc-framework-FSEvents==11.0
pyobjc-framework-GameCenter==11.0
pyobjc-framework-GameController==11.0
pyobjc-framework-GameKit==11.0
pyobjc-framework-GameplayKit==11.0
pyobjc-framework-HealthKit==11.0
pyobjc-framework-ImageCaptureCore==11.0
pyobjc-framework-InputMethodKit==11.0
pyobjc-framework-InstallerPlugins==11.0
pyobjc-framework-InstantMessage==11.0
pyobjc-framework-Intents==11.0
pyobjc-framework-IntentsUI==11.0
pyobjc-framework-IOBluetooth==11.0
pyobjc-framework-IOBluetoothUI==11.0
pyobjc-framework-IOSurface==11.0
pyobjc-framework-iTunesLibrary==11.0
pyobjc-framework-KernelManagement==11.0
pyobjc-framework-LatentSemanticMapping==11.0
pyobjc-framework-LaunchServices==11.0
pyobjc-framework-libdispatch==11.0
pyobjc-framework-libxpc==11.0
pyobjc-framework-LinkPresentation==11.0
pyobjc-framework-LocalAuthentication==11.0
pyobjc-framework-LocalAuthenticationEmbeddedUI==11.0
pyobjc-framework-MailKit==11.0
pyobjc-framework-MapKit==11.0
pyobjc-framework-MediaAccessibility==11.0
pyobjc-framework-MediaExtension==11.0
pyobjc-framework-MediaLibrary==11.0
pyobjc-framework-MediaPlayer==11.0
pyobjc-framework-MediaToolbox==11.0
pyobjc-framework-Metal==11.0
pyobjc-framework-MetalFX==11.0
pyobjc-framework-MetalKit==11.0
pyobjc-framework-MetalPerformanceShaders==11.0
pyobjc-framework-MetalPerformanceShadersGraph==11.0
pyobjc-framework-MetricKit==11.0
pyobjc-framework-MLCompute==11.0
pyobjc-framework-ModelIO==11.0
pyobjc-framework-MultipeerConnectivity==11.0
pyobjc-framework-NaturalLanguage==11.0
pyobjc-framework-NetFS==11.0
pyobjc-framework-Network==11.0
pyobjc-framework-NetworkExtension==11.0
pyobjc-framework-NotificationCenter==11.0
pyobjc-framework-OpenDirectory==11.0
pyobjc-framework-OSAKit==11.0
pyobjc-framework-OSLog==11.0
pyobjc-framework-PassKit==11.0
pyobjc-framework-PencilKit==11.0
pyobjc-framework-PHASE==11.0
pyobjc-framework-Photos==11.0
pyobjc-framework-PhotosUI==11.0
pyobjc-framework-PreferencePanes==11.0
pyobjc-framework-PushKit==11.0
pyobjc-framework-Quartz==11.0
pyobjc-framework-QuickLookThumbnailing==11.0
pyobjc-framework-ReplayKit==11.0
pyobjc-framework-SafariServices==11.0
pyobjc-framework-SafetyKit==11.0
pyobjc-framework-SceneKit==11.0
pyobjc-framework-ScreenCaptureKit==11.0
pyobjc-framework-ScreenSaver==11.0
pyobjc-framework-ScreenTime==11.0
pyobjc-framework-ScriptingBridge==11.0
pyobjc-framework-SearchKit==11.0
pyobjc-framework-Security==11.0
pyobjc-framework-SecurityFoundation==11.0
pyobjc-framework-SecurityInterface==11.0
pyobjc-framework-SensitiveContentAnalysis==11.0
pyobjc-framework-ServiceManagement==11.0
pyobjc-framework-SharedWithYou==11.0
pyobjc-framework-SharedWithYouCore==11.0
pyobjc-framework-ShazamKit==11.0
pyobjc-framework-Social==11.0
pyobjc-framework-SoundAnalysis==11.0
pyobjc-framework-Speech==11.0
pyobjc-framework-SpriteKit==11.0
pyobjc-framework-StoreKit==11.0
pyobjc-framework-Symbols==11.0
pyobjc-framework-SyncServices==11.0
pyobjc-framework-SystemConfiguration==11.0
pyobjc-framework-SystemExtensions==11.0
pyobjc-framework-ThreadNetwork==11.0
pyobjc-framework-UniformTypeIdentifiers==11.0
pyobjc-framework-UserNotifications==11.0
pyobjc-framework-UserNotificationsUI==11.0
pyobjc-framework-VideoSubscriberAccount==11.0
pyobjc-framework-VideoToolbox==11.0
pyobjc-framework-Virtualization==11.0
pyobjc-framework-Vision==11.0
pyobjc-framework-WebKit==11.0
pyparsing==3.1.4
pypdfium2==4.30.1
pyperclip==1.9.0
PyPika==0.48.9
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
PyRect==0.2.0
PyScreeze==1.0.1
pytest==8.3.3
pytest-asyncio==0.24.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-jose==3.5.0
python-json-logger==3.3.0
python-multipart==0.0.24
pyttsx3==2.98
pytweening==1.2.0
pytz==2026.1.post1
pyvis==0.3.2
pywhatkit==5.4
PyYAML==6.0.3
pyyaml_env_tag==1.1
pyzmq==27.0.1
ratelim==0.1.6
razorpay==2.0.1
redis==6.4.0
referencing==0.36.2
regex==2024.11.6
reportlab==4.4.10
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.0.0
rich-toolkit==0.14.9
rignore==0.6.4
rlp==4.1.0
rpds-py==0.26.0
rsa==4.9.1
rubicon-objc==0.5.2
safetensors==0.5.3
scikit-learn==1.7.1
scipy==1.17.1
seaborn==0.13.2
Send2Trash==1.8.3
sentencepiece==0.2.0
sentry-sdk==2.34.1
setuptools==82.0.1
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sounddevice==0.5.1
soundfile==0.13.1
soupsieve==2.6
soxr==0.5.0.post1
SpeechRecognition==3.14.0
SQLAlchemy==2.0.49
stack-data==0.6.3
starlette==1.0.0
sympy==1.14.0
tailwind==3.1.5b0
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.1.0
terminado==0.18.1
threadpoolctl==3.6.0
tiktoken==0.9.0
tinycss2==1.4.0
tk==0.1.0
tokenizers==0.21.1
tomli==2.2.1
tomli_w==1.2.0
toolz==1.1.0
torch==2.7.0
torchaudio==2.7.0
torchvision==0.22.0
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
transformers==4.55.0
twilio==9.3.3
typer==0.16.0
types-python-dateutil==2.9.0.20250809
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
tzlocal==5.3.1
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.2.3
uv==0.8.9
uvicorn==0.44.0
uvloop==0.22.1
vine==5.1.0
virtualenv==20.31.2
vllm==0.10.0
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.6.0
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==16.0
Werkzeug==3.0.4
wheel==0.46.3
wikipedia==1.4.0
wrapt==1.17.2
xgrammar==0.1.21
xxhash==3.5.0
xyzservices==2024.9.0
yarl==1.14.0
yfinance==0.2.44
zipp==3.23.0
zstandard==0.23.0
